body {
background-color: #e4d6ce; 
background-image: url(paisley.webp);
color: #524b46; 
font-size: 50px; 
font-family: la legende de korra, Book antiqua;
}
h1 {
margin-bottom: 0px;
}
h2 {
font-family: yeah but when i do it, Garamond;
font-size: 37px;
}
p {
font-family: yeah but when i do it, Garamond; 
font-size: 27px;
}
img {
max-width: 100%;
max-height: 100%;
}
.accent-color {
color: black;
}
.box {
margin: 137px;
}
.section {
background-color: #e4e0de;
padding: 17px;
display: flex;
align-items: top;
gap: 10px;
}
a {
color: #b5410c; 
}
a:hover {
color: #263554;
}
